@model Sistema_de_votacion.ViewModels.VotationLoginViewModel

@{
    Layout = "~/Views/Shared/_LayoutVotation.cshtml";
}
<h1 class="display-4 text-center">Bienvenido Ciudadano.</h1>
<p class="text-black-50 text-center">Sistema de Votacion - @DateTime.Now.Year</p>
<form asp-action="Index" method="post" style="margin-top:5%">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row justify-content-around align-items-center">
        <figure>
            <img class="rounded-circle" width="350" height="350" src="~/Images/IconoVotar.png" alt="Image de sistema de votacion." />
        </figure>
        <div class="col-md-4">
            <div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <label class="font-weight-bold">Ingrese su numero de cedula:</label>
                <input asp-for="DNI" type="number" class="form-control" />
                <span asp-validation-for="DNI" class="text-danger"></span>
            </div>
            
            <input class="btn btn-primary mt-2" type="submit" value="Ingresar" />
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

