@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-controller="Candidates" asp-action="Index">Acceso a mantenimiento de Candidatos</a>.</p>
</div>
