@model Sistema_de_votacion.Models.Citizen

@{
    if (Model == null)
    {
        ViewData["Title"] = "Crear";
    }
    else
    {
        ViewData["Title"] = "Actualizar";
    }

}

    <h1>@(Model != null ? "Actualizar" : "Añadir") ciudadanos al padron.</h1>

<h6>Ciudadanos</h6>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@(Model!= null? "Edit" : "Create")">
            @if (Model != null)
            {
                <input type="hidden" asp-for="Id" />
            }

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Dni" class="control-label"></label>
                <input asp-for="Dni" class="form-control" />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            @if (Model != null && Model.IsActive == false)
            {
                <label class="form-group form-check">
                    <input asp-for="IsActive" class="form-check-input" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            }

            <div class="form-group">
                <input type="submit" value="@(Model!= null? "Actualizar" : "Crear")" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class=" text-black-50">Volver al listados</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
