@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Votaciones</h1>
    <p>Seccion administrativa del sistema de votacion.</p>
    <p class="text-black-50">⚠Solo personal autorizado⚠</p>
</div>
