@model Sistema_de_votacion.DTO.LoginDTO
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <nav class=" w-100 navbar-light bg-light text-right">
        <a asp-action="Register" class=" font-weight-bold nav-link text-dark ">Registro</a>
    </nav>

    <div class="container d-flex justify-content-center">
        <div class="card w-50  mt-lg-5">
            <div class="card-header bg-dark">
                <h1 class="card-title text-white">Login</h1>
            </div>
            <div asp-validation-summary="ModelOnly"></div>
            <div class="card-body">
                <div class="mb-4">
                    <h3 class="card-title mb-0">Identificate</h3>
                    <span class="text-black-50">Solo personal autorizado⚠</span>
                </div>                
                <form asp-action="Login" method="Post">
                    <div class="form-group">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" type="text" class="form-control">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" type="password" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>

        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
