@model Sistema_de_votacion.DTO.RegisterDTO
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="container d-flex justify-content-center">
        <div class="card w-50  mt-lg-3">
            <div class="card-header bg-dark">
                <h1 class="card-title text-white">Registro</h1>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card-body">
                <h3 class="card-title">Registro de Usuarios</h3>
                <form asp-action="Register" method="Post">
                    <div class="form-group">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" type="text" class="form-control">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email">Email address</label>
                        <input asp-for="Email" type="email" class="form-control" aria-describedby="emailHelp">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmailConfirm"></label>
                        <input asp-for="EmailConfirm" type="text" class="form-control">
                        <span asp-validation-for="EmailConfirm" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" type="password" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PasswordConfirm"></label>
                        <input asp-for="PasswordConfirm" type="password" class="form-control">
                        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>

        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
